<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/imagen.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="telefono" class="fadeIn second" placeholder="telefono" formControlName="telefono">
      <input type="password" id="contrasena" class="fadeIn second" placeholder="contrasena" formControlName="contrasena">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <div class="alert alert-danger" *ngIf="errorLogin" >
        <p>{{ errorMesaje }}</p>
    </div>

  </div>
</div>